


.head{
    font-family: 'Montserrat', sans-serif;
}
.text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.my_cards{
    border: 1px solid black !important;
}


@media screen and (max-width: 480px) {
    .result_card {
      padding-top: 10px !important;
    }
  }
  .bold{
      font-weight: 800;
  }
